.BorderBoxImage {
    width: 52.17vw;
    height: 43.47vw;
    border-radius: 3.623vw;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.04);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    display: flex;

    &::before {
        content: "";
        position: absolute;
        inset: calc(-0.241vw);
        
        border-radius: 3.864vw;
        padding: 0.241vw;
        background: linear-gradient(100deg, rgb(255, 255, 255, 0.15), rgb(255, 255, 255, 0));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    &::after {
        content: "";
        position: absolute;
        inset: calc(-0.241vw);
        
        border-radius: 3.864vw;
        padding: 0.241vw;
        background: linear-gradient(-20deg, rgb(255, 255, 255, 0.30), rgb(255, 255, 255, 0));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .SliderContainer {
        width: 41.06vw;
        height: 38.64vw;
        margin-top: 2.415vw;
        margin-left: 4.83vw;
        overflow: hidden;
        position: relative;

        .Slide {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;

            opacity: 0;
            transition: opacity ease-in-out 1s;
        }

        .Image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .SlideActive {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;

            opacity: 1;
            transition: opacity ease-in-out 1s;
        }
    }

    .PopUpActive {
        margin-left: 48.309vw;
        margin-top: 4.83vw;

        width: 39.61vw;
        height: 33.81vw;
        flex-shrink: 0;
        color: rgba(255, 255, 255, 0.90);
        border-radius: 3.623vw;
        background: linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.04);
        box-shadow: -2px -2px 15px 0px rgba(0, 0, 0, 0.10);
        position: absolute;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        z-index: 4;
        box-sizing: border-box;
        opacity: 1;
        transition: opacity ease-in-out 500ms;

        &::before {
            content: "";
            position: absolute;
            inset: calc(-0.241vw);
        
            border-radius: 3.864vw;
            padding: 0.241vw;
            background: linear-gradient(100deg, rgb(255, 255, 255, 0.15), rgb(255, 255, 255, 0));
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        &::after {
            content: "";
            position: absolute;
            inset: calc(-0.241vw);
        
            border-radius: 3.864vw;
            padding: 0.241vw;
            background: linear-gradient(-20deg, rgb(255, 255, 255, 0.30), rgb(255, 255, 255, 0));
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        .PopUpName {
            margin-top: 2.898vw;
            margin-left: 3.864vw;

            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;

            color: rgba(255, 255, 255, 0.90);
            font-family: 'Roboto', sans-serif;
            font-size: 2.898vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .PopUpText {
            margin-top: 1.207vw;
            margin-left: 3.864vw;

            color: rgba(255, 255, 255, 0.9);
            font-family: 'Roboto', sans-serif;
            font-size: 2.17vw;
            font-style: normal;
            font-weight: 300;
            line-height: 1.2;
            display: flex;
            width: 32.6vw;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.BorderBoxButtons {
    margin-top: 3.623vw;
    margin-left: 10.89vw;
    width: 66.18vw;
    height: 48.55vw;
    border-radius: 3.623vw;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.04);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    display: flex;

    &::before {
        content: "";
        position: absolute;
        inset: calc(-1px);
        
        border-radius: 16px;
        padding: 1px;
        background: linear-gradient(100deg, rgb(255, 255, 255, 0.15), rgb(255, 255, 255, 0));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    &::after {
        content: "";
        position: absolute;
        inset: calc(-0.241vw);
        
        border-radius: 3.864vw;
        padding: 0.241vw;
        background: linear-gradient(-20deg, rgb(255, 255, 255, 0.30), rgb(255, 255, 255, 0));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .ButtonsWrapper {
        padding: 5.07vw;

        .Box {
            position: relative;
            margin-bottom: 2.294vw;
            width: 55.55vw;
            height: 7.85vw;
            border-radius: 1.44vw;
            background: linear-gradient(0deg, rgba(217, 217, 217, 0.25), rgba(217, 217, 217, 0.03));
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
            cursor: pointer;
            color: rgba(255, 255, 255, 0.70);
            
            &::before {
                content: "";
                position: absolute;
                inset: calc(-0.241vw);
                transition: opacity 700ms ease;
                
                border-radius: 1.69vw;
                padding: 0.241vw;
                background: linear-gradient(0deg, rgb(255, 255, 255, 0.35), rgb(255, 255, 255, 0.1));
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
            }

            &::after {
                border-radius: 1.44vw;
                position: absolute;
                content: "";
                inset: 0;
                z-index: 1;
                opacity: 0;
                background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1));
            }
        
            .ButtonName {
                padding: 1.932vw 0;
                text-align: center;
                height: 7.85vw;
                font-family: 'Roboto', sans-serif;
                font-size: 3.14vw;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
        
        .BoxActive {
            position: relative;
            margin-bottom: 2.29vw;
            width: 55.55vw;
            height: 7.85vw;
            border-radius: 1.44vw;
            background: linear-gradient(0deg, rgba(217, 217, 217, 0.25), rgba(217, 217, 217, 0.03));
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
            cursor: pointer;
            color: rgba(255, 255, 255, 1);
            
            &::before {
                content: "";
                position: absolute;
                inset: calc(-0.241vw);
                transition: opacity 700ms ease;
                
                border-radius: 1.69vw;
                padding: 0.241vw;
                background: linear-gradient(0deg, rgb(255, 255, 255, 0.55), rgb(255, 255, 255, 0.2));
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                transition: opacity 700ms ease;
            }
        
            &::after {
                border-radius: 1.449vw;
                position: absolute;
                content: "";
                inset: 0;
                z-index: 1;
                opacity: 1;
                transition: all 700ms ease;
                background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1));
            }
        
            .ButtonName {
                padding: 1.932vw 0;
                text-align: center;
                height: 7.85vw;
                font-family: 'Roboto', sans-serif;
                font-size: 3.14vw;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
    }
}