.BorderBox {
    color: white;
    // width: 1118px;
    // height: 340px;
    border-radius: 15px;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.04);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    display: flex;

    &::before {
        content: "";
        position: absolute;
        inset: calc(-1px);
        
        border-radius: 16px;
        padding: 1px;
        background: linear-gradient(100deg, rgb(255, 255, 255, 0.15), rgb(255, 255, 255, 0));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    &::after {
        content: "";
        position: absolute;
        inset: calc(-1px);
        
        border-radius: 15px;
        padding: 1px;
        background: linear-gradient(-20deg, rgb(255, 255, 255, 0.30), rgb(255, 255, 255, 0));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .AwardsContainer {
        width: 1118px;
        height: 265px;
        margin: 29px 15px;
        display: flex;
        overflow: hidden;
        overflow-x: hidden;
        justify-content: space-evenly;
        list-style: none;
        position: relative;

        .Award {
            margin: 0px 40px;
            cursor: pointer;
        }
    }

    .Arrow {
        width: 35px;
        height: 35px;
        margin-top: 143px;
        margin-right: 20px;
        color: rgba(255, 255, 255, 0.5);
        z-index: 1;
        transition: all ease 300ms;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        display: flex;

        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
}