.HeaderMenu {
    width: 100vw;
    height: 13.28vw;
    border-bottom: 0.0694vw solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: fixed;
    display: flex;
    z-index: 5;

    .Logo {
        margin-top: 4.34vw;
        margin-left: 3.623vw;
        width: 31.4vw;
        height: 4.83vw;
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 3.623vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    .Adress {
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 2.415vw;
        font-style: normal;
        font-weight: 400;
        line-height: 141.523%;
        margin-left: 3.623vw;
        margin-top: 3.623vw;
        height: 5.314vw;
        opacity: 0.8;
    }

    .BurgerMenu {
        width: 8.695vw;
        height: 8.212vw;
        position: relative;
        border-radius: 1.932vw;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.02));
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.10);
        margin-top: 2.294vw;
        margin-left: 4.347vw;

        &::before {
            content: "";
            position: absolute;
            inset: calc(-0.241vw);
            
            border-radius: 2.173vw;
            padding: 0.241vw;
            background: linear-gradient(0deg, rgb(255, 255, 255, 0.3), rgb(255, 255, 255, 0.15));
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        .Lines {
            padding: 1.932vw;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }
    }

    .BurgerMenuActive {
        width: 8.695vw;
        height: 8.212vw;
        position: relative;
        border-radius: 1.932vw;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.09));
        // box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.10);
        margin-top: 2.294vw;
        margin-left: 4.347vw;

        &::before {
            content: "";
            position: absolute;
            inset: calc(-0.241vw);
            
            border-radius: 2.173vw;
            padding: 0.241vw;
            background: linear-gradient(0deg, rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 0.25));
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        .Lines {
            padding: 1.932vw;
            width: 100%;
            height: 100%;
        }
    }
}

.MenuBlock {
    width: 100vw;
    height: 0vh;
    margin-top: 13.08vw;
    position: fixed;
    background: linear-gradient(0deg, rgb(255, 255, 255, 0.08), rgb(255, 255, 255, 0.05));
    border-bottom: 0.0694vw solid rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
    transition: height 400ms ease-out;
    overflow: hidden;
    z-index: 5;

    .MenuButtonWrapper {
        margin-top: 4.83vw;
        padding: 0 9.66vw;
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
    }
}

.MenuBlockActive {
    width: 100vw;
    height: 16.9vw;
    margin-top: 13.08vw;
    position: fixed;
    background: linear-gradient(0deg, rgb(255, 255, 255, 0.08), rgb(255, 255, 255, 0.05));
    border-bottom: 0.0694vw solid rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
    transition: height 400ms ease-in-out;
    overflow: hidden;
    z-index: 5;

    .MenuButtonWrapper {
        margin-top: 4.83vw;
        padding: 0 9.66vw;
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
    }
}