.BackgroundBlur {
    background-image: url('../../images/Blur.svg');
    background-repeat: no-repeat;
    width: 1440px;
    height: 3000px;
}

.Body {
    padding-top: 115px;

    .FirstBlock {
        padding: 0px 203px;

        .ButtonsWrapper {
            padding-top: 38px;
            padding-left: 37px;
            padding-bottom: 18px;
        }

        .Line {
            margin-left: 95px;
            margin-top: 39px;
            width: 1px;
            height: 263px;
            background: linear-gradient(355deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
        }
    }
}