.СontactsBody {
    padding: 7.98611vw 6.31944vw 0;

    .ProdLabel {
        // width: 346px;
        width: 24.0277vw;
        // height: 54px;
        height: 3.75vw;
        margin-bottom: 1.66vw;
        margin-left: 1.875vw;

        // border-radius: 15px;
        border-radius: 1.04166vw;
        background: linear-gradient(308deg, rgba(217, 217, 217, 0.20) 0%, rgba(217, 217, 217, 0.03) 100%);
        // box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.10);
        box-shadow: 0.13888vw 0.13888w 0.3472vw 0 rgba(0, 0, 0, 0.10);
        backdrop-filter: blur(25px);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: calc(-0.0694vw);
            
            // border-radius: 16px;
            border-radius: 1.1111vw;
            // padding: 1px;
            padding: 0.069444vw;
            background: linear-gradient(-100deg, rgb(255, 255, 255, 0.35), rgb(255, 255, 255, 0));
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        &::after {
            content: "";
            position: absolute;
            inset: calc(-1px);
            
            // border-radius: 16px;
            border-radius: 1.1111vw;
            // padding: 1px;
            padding: 0.069444vw;
            background: linear-gradient(20deg, rgb(255, 255, 255, 0.10), rgb(255, 255, 255, 0));
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        .Name {
            // padding-top: 10px;
            padding-top: 0.694444vw;
            color: rgba(255, 255, 255, 0.75);
            text-align: center;
            font-family: Helvetica Neue;
            // font-size: 28px;
            font-size: 1.9444vw;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    .Block {
        color: white;
        height: 68.9583vw;
        border-radius: 1.041666vw;
        background: linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.04);
        // box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.10);
        box-shadow: 0.1388vw 0.1388vw 0.3472vw 0 rgba(0, 0, 0, 0.10);
        position: relative;
        // display: block;

        &::before {
            content: "";
            position: absolute;
            // inset: calc(-1px);
            inset: calc(-0.06944444444444445vw);
            
            // border-radius: 16px;
            border-radius: 1.1111111111111112vw;
            // padding: 1px;
            padding: 0.06944444444444445vw;
            background: linear-gradient(100deg, rgb(255, 255, 255, 0.15), rgb(255, 255, 255, 0));
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
    
        &::after {
            content: "";
            position: absolute;
            // inset: calc(-1px);
            inset: calc(-0.06944444444444445vw);
            
            // border-radius: 16px;
            border-radius: 1.1111111111111112vw;
            // padding: 1px;
            padding: 0.06944444444444445vw;
            background: linear-gradient(-20deg, rgb(255, 255, 255, 0.30), rgb(255, 255, 255, 0));
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        .TopBlockWrapper {
            padding: 45px 45px 0;
            display: flex;

            .AboutUsBlock {
                width: 456px;
                // height: 411px;
                border-radius: 1.041vw;
                background: linear-gradient(-90deg, rgba(217, 217, 217, 0.20) 0%, rgba(217, 217, 217, 0.10) 100%);
                box-shadow: 0.138vw 0.138vw 0.34722vw 0 rgba(0, 0, 0, 0.10);
                backdrop-filter: blur(25px);
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    inset: calc(-0.06944444444444445vw);
                    
                    border-radius: 1.1111vw;
                    padding: 0.06944444444444445vw;
                    background: linear-gradient(136deg, rgb(255, 255, 255, 0.15), rgb(255, 255, 255, 0.3));
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                }

                .TextWrapper {
                    // height: 82px;
                    width: 403px;
                    margin: 27px 27px 24px 27px;

                    .TextLabel {
                        display: flex;
                        margin-bottom: 10px;
                        width: 170px;
                        height: 24px;
                        color: rgba(255, 255, 255, 0.95);
                        font-family: Helvetica Neue;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
    
                    .TextAbout {
                        color: rgba(255, 255, 255, 0.95);
                        font-family: Helvetica Neue;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }
                }
            }
            
            .MapBlock {
                margin-left: 45px;
                width: 665px;
                // height: 411px;
                border-radius: 1.041vw;
                background: linear-gradient(-90deg, rgba(217, 217, 217, 0.20) 0%, rgba(217, 217, 217, 0.10) 100%);
                box-shadow: 0.138vw 0.138vw 0.34722vw 0 rgba(0, 0, 0, 0.10);
                backdrop-filter: blur(25px);
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    inset: calc(-0.06944444444444445vw);
                    
                    border-radius: 1.1111vw;
                    padding: 0.06944444444444445vw;
                    background: linear-gradient(136deg, rgb(255, 255, 255, 0.15), rgb(255, 255, 255, 0.3));
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    display: flex;
                }

                .MapBorder {
                    margin: 30px;
                    height: 361px;
                    border-radius: 20px;
                    border: 0.104vw solid rgba(255, 255, 255, 0.2);
                }
            }
        }

        .BottomBlock {
            margin: 45px;
            // width: 665px;
            height: 411px;
            border-radius: 1.041vw;
            background: linear-gradient(-90deg, rgba(217, 217, 217, 0.20) 0%, rgba(217, 217, 217, 0.10) 100%);
            box-shadow: 0.138vw 0.138vw 0.34722vw 0 rgba(0, 0, 0, 0.10);
            backdrop-filter: blur(25px);
            position: relative;

            &::before {
                content: "";
                position: absolute;
                inset: calc(-0.06944444444444445vw);
                
                border-radius: 1.1111vw;
                padding: 0.06944444444444445vw;
                background: linear-gradient(136deg, rgb(255, 255, 255, 0.15), rgb(255, 255, 255, 0.4));
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                display: flex;
            }

            .MapBorder {
                margin: 30px;
                height: 361px;
                border-radius: 20px;
                border: 0.104vw solid rgba(255, 255, 255, 0.2);
            } 
        }
    }
}

.Copy {
    // margin-left: 583px;
    margin-left: 40.4861vw;
    padding-top: 8.5555vw;
    padding-bottom: 2.777vw;
    // width: 274px;
    width: 19.027vw;
    // height: 17px;
    height: 1.18055vw;
    color: #FFF;
    text-align: center;
    font-family: Helvetica Neue;
    // font-size: 14px;
    font-size: 0.97222vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}