.CardBlock {
    position: relative;
    margin: 20px 0;
    // width: 385px;
    // width: 24.3055vw;
    min-height: 59px;
    // height: 18.541vw;
    // border-radius: 15px;
    border-radius: 1.041666vw;
    background: rgba(255, 255, 255, 0.15);
    // box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0.1388vw 0.1388vw 0.2777vw 0 rgba(0, 0, 0, 0.10);
    cursor: pointer;
    z-index: 2;
    transition: background ease 400ms;
    // display: fle;

    &::before {
        content: "";
        position: absolute;
        // inset: calc(-1px);
        inset: calc(-0.06944vw);
        transition: opacity 700ms ease;
        
        // border-radius: 16px;
        border-radius: 1.111vw;
        // padding: 1px;
        padding: 0.06944444444444445vw;
        background: linear-gradient(0deg, rgb(255, 255, 255, 0.3), rgb(255, 255, 255, 0.2));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .ProdText {
        padding: 12px 26px;
        // min-width: 4.861vw;
        min-height: 34px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.1;
    }
}

.CardBlock:hover {
    position: relative;
    margin: 20px 0;
    // width: 385px;
    // width: 24.3055vw;
    min-height: 59px;
    // max-height: 78px;
    // border-radius: 15px;
    border-radius: 1.041666vw;
    background: rgba(255, 255, 255, 0.25);
    // box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0.1388vw 0.1388vw 0.2777vw 0 rgba(0, 0, 0, 0.10);
    cursor: pointer;
    z-index: 2;
    transition: background ease 400ms;

    &::before {
        content: "";
        position: absolute;
        // inset: calc(-1px);
        inset: calc(-0.06944vw);
        transition: opacity 700ms ease;
        
        // border-radius: 16px;
        border-radius: 1.111vw;
        // padding: 1px;
        padding: 0.06944444444444445vw;
        background: linear-gradient(0deg, rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 0.3));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .ProdText {
        padding: 12px 26px;
        // min-width: 4.861vw;
        min-height: 34px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
    }
}