.HeaderMenu {
    width: 1440px;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(25px);
    position: fixed;
    display: flex;

    .Logo {
        margin-top: 21px;
        margin-left: 91px;
        width: 203px;
        height: 30px;
        color: #FFF;
        font-family: Helvetica Neue;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    .Adress {
        color: #FFF;
        font-family: Helvetica Neue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 141.523%;
        margin-left: 71px;
        margin-top: 12px;
        width: 346px;
        height: 46px;
        opacity: 0.8;
    }

    .MenuButtonWrapper {
        display: flex;
        margin-left: 211px;
        margin-top: 15px;
    }
}