.HeaderMenu {
    width: 100vw;
    // height: 70px;
    height: 4.861vw;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    border-bottom: 0.0694vw solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 100%);
    // box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0.1388vw 0.1388vw 0.277vw 0 rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15px);
    position: fixed;
    display: flex;
    z-index: 5;

    .Logo {
        // margin-top: 21px;
        margin-top: 1.4583vw;
        // margin-left: 91px;
        margin-left: 6.319444444444445vw;
        // width: 203px;
        width: 14.097222222222221vw;
        // height: 30px;
        height: 2.0833vw;
        color: #FFF;
        font-family: Helvetica Neue;
        // font-size: 24px;
        font-size:  1.666vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    .Adress {
        color: #FFF;
        font-family: Helvetica Neue;
        // font-size: 16px;
        font-size: 1.11111vw;
        font-style: normal;
        font-weight: 400;
        line-height: 141.523%;
        // margin-left: 71px;
        margin-left: 4.930555555555555vw;
        // margin-top: 12px;
        margin-top: 0.8333vw;
        // width: 346px;
        width: 24.02777777777778vw;
        // height: 46px;
        height: 3.1944vw;
        opacity: 0.8;
    }

    .MenuButtonWrapper {
        display: flex;
        // margin-left: 211px;
        margin-left: 14.652777777777779vw;
        // margin-top: 15px;
        margin-top: 1.041vw;
    }
}